<div class="container">
    <div class="row">

        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Logins</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <input type="button" class="btn btn-sm btn-primary" onclick="ajax_load('/migrate');"
                                   value="Migrate"/>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">

                        <thead>
                        <tr class="bordered-simple">
                            <td>Email</td>
                            <td>Last Login</td>
                            <td>Num Logins</td>
                        </tr>
                        </thead>

                        <tbody>
                        {% for entry in logins %}
                        <tr>
                            <td>
                                {{ entry.user.email() }}
                            </td>
                            <td>
                                {{ entry.last_login }}
                            </td>
                            <td>
                                {{ entry.num_logins }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>

