<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Change Master Password</h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-form">
                <p><b>{{ err }}</b></p>
                <div class="info-text">
                    <p>
                        You can set a new master password. It must score a {{MIN_MASTER_PASS_STRENGTH}} or higher on our
                        strength test.
                    </p></div>
                <form class="info-text" id="changeMasterPass" action="JavaScript:change_master_pass()">

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="old_password" id="old_password"
                                   placeholder="Enter your Current Password"/>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" onchange='test_pass_strength("#changeMasterPass")'
                                   class="form-control" name="password" id="password"
                                   placeholder="Enter your New Password"/>
                            <input type="password" class="form-control" name="password_repeat" id="password_repeat"
                                   placeholder="Repeat your New Password"/>
                        </div>
                    </div>

                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Set</button>
                    </div>
                </form>
                <div class="info-text">
                    <p>
                        Please be patient. This can take some time. All entries need to be decoded with the old key and
                        encoded with the new key.
                    </p>
                </div>


            </div>

            <hr>
            <div class="panel panel-default panel-form">
                <div class="padded-sm" id="strength_meter">
                    <p>How strong is my password?</p>
                </div>
            </div>

        </div>
    </div>
</div>
