<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Comfirm Delete All</h1>
                <hr/>
                <p>Please confirm that you are deleting all data. No recovery is possible.</p>
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" id="enterMasterPass" action="JavaScript:ajax_load('/clean');">

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
