<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Logged out.</h3>
                        </div>
                    </div>
                </div>
                <div align="center">
                    <p>If you are on a public computer, you should also: </p>
                    <a href="{{google_logout}}" class="btn btn-primary btn-sm">Log out of Google</a>
                    <p></p>
                    <p>Also clear the browser cache, history, and close the browser.</p>
                    <p>If you copy and pasted a password, copy something else to clear the paste buffer.</p>
                </div>
            </div>
        </div>
    </div>
</div>

