<div class="col-md-12">
    <label class="col-sm-12">Password Strength: </label>
    <label class="col-sm-6 {{style}}">{{desc}}</label>
    <label class="col-sm-6"> Score: {{ iStrength }}</label>

    <div class="col-md-10 col-md-offset-1">
        <div class="progress">
            <div class="progress-bar {{style}}-bar" role="progressbar" style="width: {{ 100.0 * strength}}%;"></div>
        </div>
    </div>
</div>

<label class="form-label col-md-12">How to Improve:</label>
<div class="col-md-12">
    <ol>
        {% for sugg in improvements %}
        <li>{{ sugg }}</li>
        {% endfor %}
    </ol>
</div>
