<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h1 class="panel-title">PrettyGoodPasswords Terms of Service</h1>
                        </div>

                    </div>
                </div>


                <div id="box-white" class="centered licenses padded">


                    <p>This is a free service. Please use at your own risk. No warranty or guarantee is implied or
                        expressed.</p>

                    <p>Although we strive to use publicly vetted cryptographic algorithms,
                        they are not immune from advances in computational power.
                        Ongoing research has invalidated previously accepted methods.
                        This site represents our best effort to balance usability with security.
                    </p>

                    <p>
                        This site is not recommended for those living in an oppressive regime.
                        Or those who need an advanced level of security.
                        It is better to choose a solution which manages your cryptographic keys locally.
                    </p>

                    <p>LAST UPDATED. Sept 1, 2016.</p>

                </div>

                <div class="clear clearer"></div>
            </div>
        </div>
    </div>
</div>
