<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Cache-Control: no-store"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Pragma: no-cache"/>
    <meta http-equiv="Expires" content="-1"/>

    <!-- [START css] -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <!-- [END css] -->

    <link type="text/javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
    <link type="text/css" rel="stylsheet" href="assets/css/main.css"/>
    <script src="assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="assets/js/jquery.form.js"></script>

    <title>Unlocked</title>
</head>
<body>
<div class="container">
    <div class="row">
        <hr/>
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Unlocked</h3>
                        </div>

                    </div>
                </div>
            </div>
            <div align="center">
                <p>
                    This account is now unlocked. There were {{ num_failed_attempts }} failed attempts to enter the
                    master password.<br>
                </p>
                <p> Please contact <a href="mailto:admin@prettygoodpasswords-777.appspot.com"/>PGP Admin</a> if you feel
                    someone is attempting to force access your account.</p>
                <a class="btn btn-primary btn-lg btn-block" href="/">Home</a>
            </div>
        </div>
    </div>
</div>
</body>
